* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.text-white {
	color: #fff;
}
.lista {
	margin-left: 3%;
}
.border {
	border-top: 1px solid grey;
	margin: 0;
}
.box {
	padding: 0% 5% 4% 5%;
}
.logo {
	width: 50%;
}
.lg {
	font-size: 2em;
}
.parrafo {
	margin-top: 4%;
	margin-bottom: 3%;
}
.pdd {
	padding-bottom: 1%;
}
.no-pd {
	padding-left: 0;
	padding-right: 0;
}
.celeste{
	color: #94C4FF;
}
/*---linae--*/
#linea .hr-line {
	border: 1px solid #F2F3F3;
	width: 100%;
	margin: 0 !important;
	position: absolute;
}
.arrow {
	position: relative;
	top: -50px;
}
.no-margin-t-b{
	margin-bottom: 0;
	margin-top: 0;
}
/*header*/
header .navbar {
	background-color: transparent;
	border: none;
	padding: 0.3%;
}
.navbar #bs-example-navbar-collapse-1 .list {
	color: #FFFFFF;
	font-size: 1.3em;
}
.navbar #bs-example-navbar-collapse-1 .list:hover {
	background-color: rgba(61,122,209,0.8);
}
.logo {
	width: 60%;
}
.hero {
	background-image: url(../image/large.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.capa {
	background-color: rgba(93,101,107,0.7);
}
.text-central {
	padding: 8% 0%;
}
.titulo {
	font-size: 4em;
	padding: 10% 10% 2% 10%;
}
.banner {
	background-color: rgba(61,122,209,0.8);
	color: white;
	padding: 3% 0;
}
.banner h3 {
	font-size: 2em;
	margin-right: 2%;
}
.banner p {
	font-size: 1.3em;
	margin-right: 2%;
}
.btn {
	background: transparent;
	border: 1px solid white;
	border-radius: 5px;
	font-size: 2em;
	padding: 2% 3%;
	margin: 5% 0%;
}
.btn:hover {
	background-color: #fff;
	color: rgba(61,122,209,0.8);
}
/*seccion uno*/
.icono{
	display: inline-block;
    font-size: 3em;
    padding: 44px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px grey;
}
.box-title {
	padding: 4% 0%;
}
/*seccion 2*/
.small-ico {
	position: relative;
	left: 40%;
	width: 10%;
}
/*seccion:3*/
.tres {
	padding: 0% 4%;
}
.img-tres {
	background: url(../image/sec-2.jpg) no-repeat;
	background-size: 100%;
	background-size: cover;
	min-height: 400px;
}
.img-tres-opac {
	background-color: rgba(93,101,107,0.7);
	min-height: inherit;
	padding-right: 15px;
	padding-left: 15px;
}
.middle-icons {
	position: relative;
}
.icons {
	background-color: #50BDEA;
	font-size: 1.5em;
	color: #FFFFFF;
	border-radius: 50%;
	padding: 2%;
	margin: 2%;
}
.icon-1 {
    position: absolute;
    left: 45%;
    z-index: 1;
}
.icon-2 {
	position: absolute;
	left: 45%;
	top: 120px;
	z-index: 2;
}
.icon-3 {
	position: absolute;
	left: 45%;
	top: 240px;
	z-index: 2;
}
/*---uso---*/
.uso-img {
	width: 100%;
}
/*footer*/
footer {
	background-color: #2A3541;
}
.info {
	padding: 3% 5%;
}
.social-icon {
	font-size: 3em;
	text-decoration: none;
	margin: 0% 1%;
}
.social-icon:hover {
	color: #fff;
	transition: all 0.8s ease;
}
.mail {
	margin-top: 10px;
	font-size: 1.3em;
	font-weight: bold;
}
/*contacto*/
.contacto {
	background-image: url(../image/large.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.formulario {
	background-color: #fff;
}
/*--------media query----------*/

@media (max-width: 1024px){
	body{
	font-size: 16px;
	}
	.noneicon{
		display: none;
	}
}
@media (max-width: 982px){
	body{
	font-size: 14px;
	}
}
@media (max-width: 768px){
	body{
	font-size: 14px;
	}
}

@media (max-width: 640px){
	body{
	font-size: 12px;
	}
	.title {
	font-size: 2.5em;
	}
	.none{
		display: none;
	}
	footer{
		text-align: center;
	}
	.redescontact{
		text-align: center;
	}
	.middle{
		text-align: center;
	}
}